@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');

body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0 12px;

}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.brand img{
    width: 44px;
    padding: 0 8px;
}

.container{
    min-height: 80vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 23px auto;
    border-radius: 12px;
    padding: 34px;
    font-family: 'Varela Round', sans-serif;
    background-image: url('images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 12px;
}

.bottom{
    position: sticky;
    height: 130px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons{
    margin-top: 12px;
    cursor: pointer;
}
.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw;
    cursor: pointer;
}

.songItemContainer{
    margin: 34px;
}

.songItem{
    height: 40px;
    display: flex;
    background-color: whitesmoke;
    width: 40%;
    color: black;
    margin: 10px 0;
    border-radius: 34px;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

}

.songItem img{
    width: 33px;
    border-radius: 34px;
    margin: 0px 34px;
}

.timeStamp{
    margin: 0px 34px;
}

.timeStamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.3s ease-in;
}